.navbar {
    background:#666769 !important;
    padding: 0.5rem 1rem;
      display: flex ;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
}
.navbar-logo {
    width: 200px; 
    height: auto;
    margin-left: 20px;
}

