.navbar {
    background:#4f504b !important;
    padding: 0.5rem 1rem;
      display: flex ;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
}
.navbar-logo {
    width: 200px; 
    height: auto;
}

